.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
    /* height: 100%; */
    max-height: 100%;
    border-radius: 16px;
    background-color: rgba(250, 250, 250, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 10px 20px 10px rgba(84, 84, 84, 0.1);
    overflow: hidden;
}

