.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
    gap: 5px;
    padding: 10px 15px 10px 10px;
    min-height: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 2px rgba(91, 91, 91, 0.1)
  }
  
  .check__container {
    position: relative;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  
  .check__container i {
    color: #6988bf;
  }
  
  .check__body,
  .check__active {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    z-index: 1;
  }
  
  .check__active {
    z-index: 2;
  }
  
  .list__item p {
    flex-grow: 1;
    color: #fafafa;
    user-select: none;
  }
  
  .remove__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13px;
    height: 13px;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .remove__btn i {
    color: #ad0000;
  }
  
  .list__item:hover .remove__btn {
    opacity: 1;
  }
  
  .finished {
    text-decoration: line-through;
  }
  
  .editing {
    padding: 5px 10px;
  }
  
  .editing div {
    width: 100%;
  }
  
  .editing input {
    padding: 5px;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 8px;
    outline: none;
    font-family: inherit;
  }