.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    height: 100vh;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
    font-family: 'Montserrat', sans-serif;
}

.title {
  font-size: 3em;
  color: #fafafa;
  text-transform: uppercase;
  text-shadow: 2px 5px 5px rgba(84, 84, 84, 0.4);
}