.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 600px;
}

.form__container {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 280px;
    border-radius: 16px;
    background-color: rgba(250, 250, 250, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 10px 20px 10px rgba(84, 84, 84, 0.1);
    overflow: hidden;
}

.login__form,
.signup__form {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
    transform: translateX(0%);
    opacity: 1;
    transition: 0.6s all;
}

.signup__form {
    transform: translateX(100%);
    opacity: 0;
}

.container.active .login__form {
    transform: translateX(-100%);
    opacity: 0;
}

.container.active .signup__form {
    transform: translateX(0%);
    opacity: 1;
}


.container input {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: rgba(220, 220, 220, 0.5);
    font-family: inherit;
    transition: background-color 0.6s;
}

.container input:focus {
    background-color: #fafafa;
  }

.container button {
    align-self: center;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    font-family: inherit;
    color: gray;
}

.container p {
    align-self: center;
    color: #fafafa;
    font-size: 0.8em;
    cursor: pointer;
}

