.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    max-width: 600px;
}

.form__container {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 320px;
    border-radius: 16px;
    background-color: rgba(250, 250, 250, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 10px 20px 10px rgba(84, 84, 84, 0.1);
    overflow: hidden;
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(233, 233, 233);
}